:root {
    --background: #151515;
    --side-bar: #000000;
    --strong-red: #B83B2C;
    --subtle-red: #C6584C;
    --dark-green: #2C6340;
    --light-green: #58A775;
    --medium-light-green: #459261;
    --medium-dark-green: #397E53;
    --theme-colour-text: #5272ff;
    --theme-colour-background: #27305298;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main-content {
  margin-left: 60px; /* Adjust this margin to match the width of your collapsed sidebar */
  transition: margin-left 0.3s;
}

.sidebar {
  width: 60px;
  height: 100vh;
  background-color: var(--side-bar);
  color: #fff;
  transition: width 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-icon {
  padding: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.sidebar-nav {
  flex: 1;
  width: 100%;
}

.sidebar-item {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-item:hover {
  background-color: #333;
}

.icon {
  flex-shrink: 0;
  width: 40px;
  text-align: center;
}

.text {
  flex: 1;
  margin-left: 10px;
  display: none;
  white-space: nowrap;
}

.sidebar:hover .text {
  display: inline;
}

.sidebar-footer {
  width: 100%;
}

.sidebar:hover ~ .main-content {
  margin-left: 200px; /* Adjust this margin to match the width of your expanded sidebar */
}
