:root {
    --background: #161616;
    --side-bar: #000000;
    --strong-red: #B83B2C;
    --subtle-red: #C6584C;
    --dark-green: #2C6340;
    --light-green: #58A775;
    --medium-light-green: #459261;
    --medium-dark-green: #397E53;
    --theme-colour: ;
}