/* src/styles/SignIn.css */
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Change this to vh to cover the full viewport height */
  background-color: #0d0d0d; /* Adjust the background color as needed */
}

.signin-page {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  border-radius: 1.5em; /* Rounded corners */
  background-color: #0d0d0f; /* Dark background */
  color: #fff;
  box-shadow: 0em 1em 3em #bec2ec64; /* Darker shadow */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Add this line to include a border */
  position: relative;
}

.signin-page::before {
  content: '';
  filter: blur(25px);
  border-radius: 1.5em;
  background-color: #0d0d0f; /* Same dark background */
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.signin-page h1 {
  text-align: center;
  color: #fff;
}

.error-message {
  color: red;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #0f3460;
  border-radius: 5px;
  background-color: #060810;
  color: #fff;
}

button {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.google-button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.google-button img {
  margin-right: 10px;
  width: 20px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}

.google-button:hover {
  background-color: #e0e0e0;
}

.google-font {
  font-size: 16px; 
  font-weight: bold; 
}

.verification-message {
  color: green;
  font-weight: bold;
  margin: 20px 0;
}

.error-message {
  color: red;
  font-weight: bold;
  margin: 20px 0;
}

.or-separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 20px 0;
}

.or-separator::before,
.or-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #ccc;
}

.or-separator:not(:empty)::before {
  margin-right: .25em;
}

.or-separator:not(:empty)::after {
  margin-left: .25em;
}
