/* src/styles/TrendingStocks.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.trending-stocks-page {
  padding: 20px;
  background-color: var(--background);
  color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
  text-align: center; /* Center align the text */
}

.stocks-text {
  color: var(--light-green);
}

.trending-stocks-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center vertically */
  text-align: center;
}

.loading-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.loading-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}

/* For tablets and below */
@media only screen and (max-width: 768px) {
  .trending-stocks-page {
    padding: 15px;
  }

  .trending-stocks-page h1 {
    font-size: 1.5em;
  }

  .loading-container h1 {
    font-size: 1.5em;
  }

  .loading-container p {
    font-size: 1em;
  }

  .table-container {
    padding: 0 10px;
  }
}

/* For mobile phones */
@media only screen and (max-width: 480px) {
  .trending-stocks-page {
    padding: 10px;
  }

  .trending-stocks-page h1 {
    font-size: 1.2em;
  }

  .trending-stocks-page .stocks-text {
    font-size: 1.2em;
  }

  .loading-container h1 {
    font-size: 1.2em;
  }

  .loading-container p {
    font-size: 0.9em;
  }

  .table-container {
    padding: 0 5px;
  }
}