/* src/styles/TrendingStocks.css */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.trending-stocks-page {
  padding: 20px;
  background-color: var(--background);
  color: #fff;
  min-height: 100vh;
  box-sizing: border-box;
}

.trending-stocks-page h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: #fff;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Center vertically */
  text-align: center;
}

.loading-container h1 {
  font-size: 2em;
  margin-bottom: 10px;
}

.loading-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.table-container {
  overflow-x: auto;
}
